<?xml version="1.0" ?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="world_name" default="$(find autoware_lidar_camera_fusion_sample)/example.world"/>

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find autoware_lidar_camera_fusion_sample)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find autoware_lidar_camera_fusion_sample)/models"/>

  <!-- Start gazebo and load the world -->
  <param name="/use_sim_time" type="bool" value="true"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <!-- Spawn the example robot -->
  <arg name="gpu" default="false"/>
  <arg name="organize_cloud" default="false"/>
  <arg name="rgbcamera_urdf_file" value="$(find autoware_lidar_camera_fusion_sample)/urdf/rgbcamera.urdf"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find velodyne_description)/urdf/example.urdf.xacro' organize_cloud:=$(arg organize_cloud) gpu:=$(arg gpu)" />
  <param name="robot_description2" command="$(find xacro)/xacro --inorder '$(find autoware_lidar_camera_fusion_sample)/urdf/rgbcamera.urdf.xacro'" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -param /robot_description -model example"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_camera_model"
    args="-urdf -param /robot_description2 -model rgbcamera"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_board_model"
    args="-sdf -database checkerboard_plane -model checkerboard_plane -x 4 -z 1 -P -1.5707963 "/>

  <!-- RViz -->
  <arg name="rviz" default="true"/>
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" args="-d $(find autoware_lidar_camera_fusion_sample)/launch/sample.rviz" />

</launch>
